<div class="modal-header">
  <h5 class="modal-title">New Game</h5>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="player-one" class="form-control-label">Player One:</label>
          <select class="form-control" id="player-one-select" name="player-two"></select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="player-two" class="form-control-label">Player Two:</label>
          <select class="form-control" id="player-two-select" name="player-two"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="breaking-player" class="form-control-label">Who's Breaking?</label>
          <select class="form-control" id="breaking-player-select" name="breaking-player"></select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" id="next-button">Start Game</button>
</div>
