<div class="modal-header">
  <h5 class="modal-title">Login</h5>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="player-one" class="form-control-label">Username:</label>
          <input class="form-control" id="username-input" type="text" name="player-two"></input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="player-one" class="form-control-label">Password:</label>
          <input class="form-control" type="password" id="password-input" name="player-two"></input>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <span id="error-pane" class="mr-auto"></span>
  <button type="button" class="btn btn-primary btn-working" id="login-button">Login</button>
</div>
