
pocket-selector {
  margin: 10px 0px 0px 30px;
  --height: 462px;
  height: var(--height);
  width: calc(var(--height) * 0.75);
  display: block;
}

pocket-selector table {
  width: 100%;
  height: 100%;
}

pocket-selector .choice::before {
  content: attr(number);
  font-size: 4em;
  position: absolute;
  color: rgba(0, 0, 0, 0.2);
}

pocket-selector .choice:hover::before {
  color: rgba(0, 0, 0, 0.15);
}

pocket-selector .choice[number="0"]::before,
pocket-selector .choice[number="1"]::before {
  top: 35%;
}

pocket-selector .choice[number="2"]::before,
pocket-selector .choice[number="3"]::before {
  top: 23%;
}

pocket-selector .choice[number="4"]::before,
pocket-selector .choice[number="5"]::before {
  bottom: 35%;
}

pocket-selector .choice[number="0"]::before,
pocket-selector .choice[number="2"]::before,
pocket-selector .choice[number="4"]::before {
  left: 50%;
}

pocket-selector .choice[number="1"]::before,
pocket-selector .choice[number="3"]::before,
pocket-selector .choice[number="5"]::before {
  right: 50%;
}

pocket-selector .choice {
  opacity: 0.3;
  position: relative;
}

pocket-selector .choice:hover, .choice[selected] {
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

pocket-selector .choice[number="0"] {
  background-image: url("../pool-table/0.png");
  background-size: cover;
}

pocket-selector .choice[number="1"] {
  background-image: url("../pool-table/1.png");
  background-size: cover;
}

pocket-selector .choice[number="2"] {
  background-image: url("../pool-table/2.png");
  background-size: cover;
}

pocket-selector .choice[number="3"] {
  background-image: url("../pool-table/3.png");
  background-size: cover;
}

pocket-selector .choice[number="4"] {
  background-image: url("../pool-table/4.png");
  background-size: cover;
}

pocket-selector .choice[number="5"] {
  background-image: url("../pool-table/5.png");
  background-size: cover;
}
