<span class="pool-ball choice" number="1"></span>
<span class="pool-ball choice" number="2"></span>
<span class="pool-ball choice" number="3"></span>
<span class="pool-ball choice" number="4"></span>
<span class="pool-ball choice" number="5"></span>
<span class="pool-ball choice" number="6"></span>
<span class="pool-ball choice" number="7"></span>
<span class="pool-ball choice" number="8"></span>
<span class="pool-ball choice" number="9"></span>
<span class="pool-ball choice" number="10"></span>
<span class="pool-ball choice" number="11"></span>
<span class="pool-ball choice" number="12"></span>
<span class="pool-ball choice" number="13"></span>
<span class="pool-ball choice" number="14"></span>
<span class="pool-ball choice" number="15"></span>
<span class="pool-ball choice" number="0"></span>
