<div class="modal-header">
  <h5 class="modal-title">Summary</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      Christopher Won!
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary mr-auto" id="back-button">Back</button>
  <span id="gutter" class="mr-auto"></span>
  <button type="button" class="btn btn-success" id="save-button">Save Game</button>
</div>
